<section id="grid-container">
        <!-- Botões modulares -->
    <!-- Botões com velocímetros -->
    <button class="draggable-btn" draggable="true">
        <div class="velocimetro-container">
            <img src="{{ url_for('static', filename='images/velocimeters/medida_velocimentro_verde.png') }}" class="velocimetro-imagem" id="imgVelocimetroReal">
            <img src="{{ url_for('static', filename='images/velocimeters/ponteiro_velocimentro_verde.png') }}"class="ponteiro" id="ponteiroReal" data-tipo="real">
            <div id="valorReal" class="velocimetro-texto">
                <span class="valor">0</span>
                <span class="unidade">Cx/h</span>
            </div>
        </div>
    </button>
    <button class="draggable-btn" draggable="true">
        <div class="velocimetro-container">
            <img src="{{ url_for('static', filename='images/velocimeters/medida_velocimentro_amarelo.png') }}" class="velocimetro-imagem" id="imgVelocimetroProg">
            <img src="{{ url_for('static', filename='images/velocimeters/ponteiro_velocimentro_amarelo.png') }}" class="ponteiro" id="ponteiroProg">
            <input type="text" id="velocidadeInput" class="velocimetro-input" value="50" readonly onclick="abrirTeclado(event)">
            <span class="unidade-programada">Cx/h</span>
        </div>
    </button>
    <button class="draggable-btn" draggable="true">3</button>
    <button class="draggable-btn" draggable="true">4</button>
    <button class="draggable-btn" draggable="true">5</button>
    <button class="draggable-btn" draggable="true">6</button>
    <button class="draggable-btn" draggable="true">7</button>
    <button class="draggable-btn" draggable="true">8</button>
    <button class="draggable-btn" draggable="true">9</button>
    <button class="draggable-btn" draggable="true">10</button>
    <button class="draggable-btn" draggable="true">11</button>
    <button class="draggable-btn" draggable="true">12</button>
</section>
