<nav id="menu">
    <!-- Logo central -->
    <button class="logo-btn" onclick="toggleMenu()">
        <img src="{{ url_for("static", filename="images/icons/logo_2.png") }}" alt="Logo" style="width: 80px; height: 80px;">
    </button>
    <!-- Botões do menu -->
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Menu_Inicio.png") }}" alt="Ícone 1" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Menu_Alarme.png") }}" alt="Ícone 2" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Menu_Relatorio.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Faixa_Peso.png") }}" alt="Ícone 1" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Menu_Balanca.png") }}" alt="Ícone 2" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Menu_Classificacao.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Menu_Grafico.png") }}" alt="Ícone 1" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Menu_Entradas.png") }}" alt="Ícone 2" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Lavadora.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Secadora.png") }}" alt="Ícone 1" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Menu_Amostras.png") }}" alt="Ícone 2" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Botao_Diagrama_Eletrico.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Menu_Janela.png") }}" alt="Ícone 1" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Menu_Acionamento.png") }}" alt="Ícone 2" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Painel.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Menu_Consumo.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Menu_Placas.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Informacao.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
    <button class="menu-btn" style="background-image: url('{{ url_for("static", filename="images/icons/00_Botao_Aux.png") }}');" onclick="zoomButton(this)">
        <img src="{{ url_for("static", filename="images/icons/02_Icone_Desliga.png") }}" alt="Ícone 3" class="menu-icon">
    </button>
</nav>
