<!-- Teclado Virtual -->
<div id="teclado-virtual">
    <button class="tecla" onclick="digitarNumero(7)">7</button>
    <button class="tecla" onclick="digitarNumero(8)">8</button>
    <button class="tecla" onclick="digitarNumero(9)">9</button>
    <button class="tecla" onclick="digitarNumero(4)">4</button>
    <button class="tecla" onclick="digitarNumero(5)">5</button>
    <button class="tecla" onclick="digitarNumero(6)">6</button>
    <button class="tecla" onclick="digitarNumero(1)">1</button>
    <button class="tecla" onclick="digitarNumero(2)">2</button>
    <button class="tecla" onclick="digitarNumero(3)">3</button>
    <button class="tecla" onclick="digitarNumero(0)">0</button>
    <button class="tecla ok" onclick="fecharTeclado()">OK</button>
</div>
