/* ========== Estilos do Menu ========== */
#menu-container {
    position: relative;
    width: 100vw;
    height: var(--menu-height, 95px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#menu {
    display: flex;
    justify-content: center;
    position: fixed;  /* Mantém o menu fixo na tela */
    left: 0;
    bottom: 0;       /* Fixa o menu na base da tela */
    overflow: hidden;
    width: 100%;
    transition: transform 0.8s ease-in-out;
    background-color: #fff; /* Garante que o fundo do menu seja visível */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Adiciona sombra sutil na parte superior */
    z-index: 1000;   /* Garante que o menu fique sobre outros elementos */
}

.menu-btn {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out var(--delay);
    opacity: 0;
    transform-origin: center center;
}

.menu-btn.zoomed {
    z-index: 50;
}

.logo-btn {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    border: none !important;
    outline: none !important;

}

.menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    object-fit: contain;
}